<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form>
      Product: <input type="text" name="product" required>
      Customer: <input type="text" name="customer" required>

      <button type="submit">Заказать</button>

      <div class="answer"></div>
     
      <button type="submit">
        <a href="http://127.0.0.1:3000/customers" class="btn">Customers</a>
      </button>
      <button type="submit">
        <a href="http://127.0.0.1:3000/orders" class="btn">Orders</a>
      </button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
